@font-face {
    font-family: 'minecraft';
    src: url('fonts/1_MinecraftRegular1.otf');
}

@font-face {
    font-family: 'minecraftBold';
    src: url('fonts/3_MinecraftBold1.otf');
}


body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("templates/orange-background_23-2147674307.avif");
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 700px;
    height: 700px;
    border: 3px solid black;
}


.squares-column {
    display: flex;
    flex: 1;
}

.squares {
    flex: 1;
    box-sizing: border-box;
    background-color: white;
    outline: 1px solid black;
}

.headerText {
    font-family: 'minecraftBold';
    font-size: 50px;
    margin-bottom: 10px;
    -webkit-text-stroke: 2px black;
    color: gray;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 30px;
}

.btn {
    display: block;
    font-family: 'minecraft';
    background-color: white;
    border-radius: 4px;
}